@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.icons-wrapper {
    /* position: absolute; */
    display: flex;
    justify-content: flex-end;
    width: 1000px;
    top: 0;
    right: 0;
    margin: 20px auto;
    cursor: pointer;
    /* background-color: rgb(84, 32, 14);  */
}

.icons:hover {
    border: none;
}

.material-icons {
    background-color: rgb(248, 79, 17);    
}